.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  z-index: 999999;
  display: flex;
  padding: 1rem;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.footer-langs{
  display: flex;
  gap: 0.5rem
}
.footer-lang{
  width: 100%;
  max-width: 30px;
  cursor: pointer;
}

.footer-video{
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer-flag{
  width: 100%;
  filter:grayscale(50%)
}

.footer-flag--selected{
  border: 1px solid green;
  border-radius: 50%;
  filter: grayscale(0%)
}

.logo{
  font-family: 'Pacifico';
  margin: 0;
  font-size: clamp(12px, 1.5vw, 24px)
}
